<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand logo" href="./">
        <img src="./images/dream-catcher.png" width="75" height="75" class="d-inline-block align-top" alt="">
        Dream Catcher
      </a>
      <button id="logout" class="btn btn-primary nav-link p2">Log Out</button>
    </div>
  </nav>
</header>
<main class="container">
  <div class="row justify-content">
    <div class="col-sm-8">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#my-dreams">My Dreams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dream-types">Categories</a>
            </li>
          </ul>
        </div>
        <div class="card-body main">
          <div class="tab-content">
            <div class="tab-pane active" id="my-dreams" role="tabpanel">
              <dl id="dreams">
              {{#each dreams}}
                <dt>{{date}} <span class="badge">{{category_name}}</span></dt>
                <dd>{{description}}<a href="#" id="{{id}}-edit" class="btn-sm edit">Edit</a><a id="{{id}}-del" href="#" class="btn-sm delete">Delete</a></dd>
              {{/each}}
              </dl>
            </div>
            <div class="tab-pane" id="dream-types" role="tabpanel">
              <dl>
                <dt>Normal</dt>
                <dd>These are your bog standard dreams where you have no idea you're dreaming until you wake up. In a typical dream, you could be doing a rap duet with the Pope and think nothing of it. You accept your dream reality as it is.</dd>
                <dt>Daydream</dt>
                <dd>You spend an average of 70-120 minutes a day daydreaming or fantasizing from a perspective that transcends normal perception. Between consciousness and the sleep state is an area that allows the imagination to wander. As your level of awareness decreases, you lose your sense of self. You may revisit the past, or explore the future, and in doing so, approach the border of the dreamscape. All the while, consciousness keeps pulling you back into the present."</dd>
                <dt>Lucid</dt>
                <dd>Lucid dreams occur when you ‘wake up’ while dreaming. Sometimes this sudden sense of knowing you are dreaming allows you to do fantastic things like fly over the houses you see. Many people actually wake themselves up within the dream to remain in this lucid state to explore how they can influence dreams.</dd>
                <dt>Vivid</dt>
                <dd>One characteristic of vivid dreams is they seem very real. More complex emotions and thoughts on a person's mind are what cause vivid dreams. Because of the realness of the vivid dream experience, often when waking from a vivid dream, it takes a person a few moments to realize they were dreaming.</dd>
                <dt>Nightmare</dt>
                <dd>The nightmare often causes you to wake up in a state of panic with your heart racing. In nightmares, you don't know you're dreaming. So the unconscious mind processes everything as if it were really happening. Some nightmares can be so vivid that the sensory system is triggered and you can feel certain types of pain. It can be very unnerving."</dd>
                <dt>Prophetic</dt>
                <dd>Also referred to as precognitive dreams, prophetic dreams are believed to be a form of extra-sensory perception (ESP) in which a person is said to perceive information about places or events through paranormal means before they actually happen.</dd>
              </dl>
              <dl>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <h5>Add New Dream</h5>
        </div>
        <div class="card-body main">
          <form id="new-dream">
            <div class="row">
              <div class="form-group col">
                <select class="custom-select" id="select">
                  <option selected>Choose Category</option>
                  <option value="1">Normal</option>
                  <option value="2">Daydream</option>
                  <option value="3">Lucid</option>
                  <option value="4">Vivid</option>
                  <option value="5">Nightmare</option>
                  <option value="6">Prophetic</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="5"
                placeholder="Describe your dream...">
                </textarea>
              </div>
            </div>
            <button href="#" id="user" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="navbar navbar-dark" style="background-color: rgb(53, 51, 57)">
    <div class="container">
      <span class="navbar-text">
        <p>A journal for your dreams. 🌙</p>
        <small>© 2017 Maria Jose Mata</small>
      </span>
      <nav class="nav">
        <a class="nav-link" href="https://github.com/maria-mata/dream-catcher" target="_blank">GitHub Repo</a>
        <a class="nav-link" href="https://mjmata.com/" target="_blank">Portfolio</a>
      </nav>
    </div>
  </div>
</footer>
